@charset "UTF-8";
@use 'base/base';
@use 'base/font';
@use "base/mixin" as *;

.intro-section {
    position: relative;
    z-index: 1;

    .inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    .intro-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("./../images/teahouse_store.webp");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    h2 {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.3;
        color: #ffffff;
    }
}

.main-section {
    height: 425vh;

    .inner {
        overflow: hidden;
        position: sticky;
        top: 0;
        padding: 0 to_vw(24);
        //will-change: transform;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100vh;
        text-align: center;

        &-title {
            width: to_vw(924);
            font-family: 'ZenSerif', serif;
            font-size: 64px;
            line-height: 1.15;
            letter-spacing: -0.02em;
        }

        &-desc {
            width: to_vw(455);
            margin-top: to_vw(24);
            font-family: 'ZenSerif', serif;
            font-size: 12px;
            line-height: 1.3;
            text-transform: uppercase;
        }
    }

    .grid-area {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: to_vw(736);
    }

    .grid-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: to_vw(32);
        row-gap: to_vw(40);
        //will-change: transform;
    }

    .grid-item {
        width: 100%;
        aspect-ratio: 1;
        //will-change: transform;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}